.main-display {
    max-width: 500px;
    height: auto;
    margin: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.settings {
    margin-top: 70px;
    width: 20%;
}

.content-contain {
    display: flex;
}

.settings input {
    max-width: 75px;
}

#resultImg, #componentImg {
    max-width: 100%;
}