absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
entrypoints==0.2.3.post1
Flask==1.0.2
Flask-Cors==3.0.7
gast==0.2.0
google==2.0.1
grpcio==1.17.0
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==12.2.1
keyrings.alt==3.0
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
opencv-python==3.4.4.19
pexpect==4.2.1
Pillow==5.1.0
protobuf==3.6.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.28.2
pyparsing==2.3.0
pysmbc==1.0.15.6
python-dateutil==2.7.5
pyxdg==0.25
reportlab==3.4.0
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
